.projects-grid {
	th {
		cursor: pointer;
		background-color: $col-primary;
		border: 1px solid $col-primary;

		.sortorder:after {
		  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
		}
		.sortorder.reverse:after {
		  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
		}
	}

	td {
		padding-left: 10px;
		padding-right: 10px;
		background-color: $col-white;
		border: 1px solid $col-primary;
	}
}