.tech-cloud {
	position: relative;

	span.w10 { font-size: 550%; }
	span.w9 { font-size: 500%; }
	span.w8 { font-size: 450%; }
	span.w7 { font-size: 400%; }
	span.w6 { font-size: 350%; }
	span.w5 { font-size: 300%; }
	span.w4 { font-size: 250%; }
	span.w3 { font-size: 200%; }
	span.w2 { font-size: 150%; }
	span.w1 { font-size: 100%; }

	span.w10 { color: grey; }
	span.w9 { color: #0cf; }
	span.w8 { color: #0cf; }
	span.w7 { color: #39d; }
	span.w6 { color: #90c5f0; }
	span.w5 { color: #90a0dd; }
	span.w4 { color: purple; }
	span.w3 { color: green; }
	span.w2 { color: blue; }
	span.w1 { color: red; }
}